<!DOCTYPE html>

{% load static %}
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>LearnC | {{ current.name }}</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo/favicon.ico' %}" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
  <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}"
    class="template-customizer-theme-css" />
  <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

  <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />

  <!-- Page CSS -->

  <!-- Helpers -->
  <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="{% static 'assets/js/config.js' %}"></script>
</head>

<body>
  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="layout-menu-toggle navbar-nav me-xl-0 d-xl-none bg-white sticky-top">
    <div class="row align-items-center">
      <div class="col-6 ps-3 pt-2">
        <a href="{% url 'indexAlt' %}" class="nav-item nav-link app-brand-link my-2 ms-2">
          <img src="{% static 'assets/img/logo/LearnC.png' %}"
            style="max-width: 50%; max-height: 50%; object-fit: contain;">
        </a>
      </div>
      <div class="col-6 text-end">
        <a class="nav-item nav-link px-0" href="javascript:void(0)">
          <i class="bx bx-menu bx-sm" height="50px" width="50px"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar layout-without-navbar">

    <!-- Layout container -->
    <div class="layout-container">

      <!-- Menu -->
      <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <div class="app-brand demo">
          <a href="{% url 'indexAlt' %}" class="app-brand-link">
            <img src="{% static 'assets/img/logo/LearnC.png' %}" alt="" class="p-5"
              style="max-width: 100%; max-height: 100%; object-fit: contain;">
          </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1 mt-3">
          <!-- Dashboard -->
          {% if user.groups.all.first.name == 'editors' %}
          <li class="menu-item">
            <a href="{% url 'dashboard' %}" class="menu-link">
              <i class="menu-icon tf-icons bx bx-home-circle"></i>
              <div data-i18n="Analytics">Dashboard</div>
            </a>
          </li>
          {% endif %}
          <!-- Components -->
          <li class="menu-header small text-uppercase"><span class="menu-header-text">Sections</span></li>
          {% for section in sections %}
          <!-- Cards -->
          <li class="menu-item" id="s{{ section.id }}">
            <a href="{% url 'index' section.id %}" class="menu-link">
              <div data-i18n="Basic">{{ section.name }}</div>
            </a>
          </li>
          {% endfor %}
          <!-- User interface -->

        </ul>

        <div class="menu-divider mb-0"></div>
        <ul class="m-0 p-0">
          <li class="menu-block my-1 d-flex flex-row justify-content-end">
            {% if user.is_authenticated %}
            <div class="row w-100 me-1">
              <div class="col-10">
                <p><strong>{{ user.username }}</strong> is connected</p>
              </div>
              <div class="col-2">
                <a class="fold-show" title="Logout" data-bs-placement="top" data-bs-toggle="tooltip"
                  href="{% url 'logout' %}"><span aria-hidden="true" class="text-body bx bx-log-out"></span>
                </a>
              </div>
            </div>
            {% else %}
            <a class="fold-show me-3" title="Signup" data-bs-placement="top" data-bs-toggle="tooltip"
              href="{% url 'signup' %}"><span aria-hidden="true" class="text-body bx bx-user-plus"></span>
            </a>
            <a class="fold-show" title="Login" data-bs-placement="top" data-bs-toggle="tooltip"
              href="{% url 'signin' %}"><span aria-hidden="true" class="text-body bx bx-log-in"></span>
            </a>
            {% endif %}
          </li>
        </ul>
      </aside>
      <!--/ Menu -->

      <!-- Layout page -->
      <div class="layout-page">

        <!-- Content wrapper -->
        <div class="content-wrapper">

          <!-- Content -->


          <div class="container-xxl flex-grow-1 container-p-y">

            <h3>{{ current.name }}</h3>
            <div class="nav-align-top">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                    data-bs-target="#navs-top-documentation" aria-controls="navs-top-home"
                    aria-selected="true">Documentation</button>
                </li>
                <li class="nav-item">
                  <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                    data-bs-target="#navs-top-video" aria-controls="navs-top-profile"
                    aria-selected="false">Video</button>
                </li>
                <li class="nav-item">
                  <button type="button" class="nav-link" role="tab" data-bs-toggle="tab"
                    data-bs-target="#navs-top-discussion" aria-controls="navs-top-messages"
                    aria-selected="false">Discussion</button>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-top-documentation" role="tabpanel">
                  <p>
                    {{ current.content|safe }}
                  </p>
                </div>
                <div class="tab-pane fade text-center my-1 mx-3" id="navs-top-video" role="tabpanel">
                  <p>
                    <iframe style="width: 80%; height: 30em;" src="{{ current.video }}" allowfullscreen></iframe>

                  </p>
                </div>
                <div class="tab-pane fade" id="navs-top-discussion" role="tabpanel">
                  {% if user.groups.all.first.name == 'learners' %}
                  <div class="mb-2">
                    <div class="text-end">
                      <button class="btn btn-primary me-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#messageCollapse" aria-expanded="false" aria-controls="collapseExample">
                        Add a message
                      </button>
                    </div>
                    <div class="collapse" id="messageCollapse">
                      <div class="p-3">
                        <form action="" method="POST" class="needs-validation" novalidate>
                          {% csrf_token %}
                          <label for="message" class="form-label">Write your message here:</label>
                          <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                          <div class="mt-2 text-end">
                            <button type="submit" class="btn btn-primary" name="addMessageForm"
                              value="1">Submit</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% for disc in discussions %}
                  <div class="list-group mb-2">
                    <a class="list-group-item list-group-item-action" data-bs-toggle="collapse"
                      href="#replies{{ disc.id }}">
                      <div class="d-flex w-100 justify-content-between">
                        <h6>{{ disc.learner.username }}</h6>
                        <small class="ms-5 text-muted">{{ disc.date }}</small>
                      </div>
                      <p class="mb-1">{{ disc.message }}</p>
                    </a>
                    {% if user.groups.all.first.name == 'editors' %}
                    <div class="w-50">
                      <button class="btn btn-link me-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#reply{{ disc.id }}" aria-expanded="false" aria-controls="collapseExample">
                        Add a reply
                      </button>
                    </div>
                    <form action="" method="POST" class="needs-validation" novalidate>
                      {% csrf_token %}
                      <div class="collapse" id="reply{{ disc.id }}">
                        <textarea class="form-control" name="replyTextArea{{ disc.id }}" rows="3" required></textarea>
                        <div class="text-end mt-2">
                          <button type="submit" class="btn btn-primary" name="addReplyForm"
                            value="{{ disc.id }}">Reply</button>
                        </div>
                      </div>
                    </form>
                    {% endif %}
                    {% for reply in replies %}
                    {% if reply.discussion == disc %}
                    <div id="replies{{ disc.id }}" class="collapse ps-5 my-2">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="d-flex w-100 justify-content-between">
                            <h6>{{ reply.editor.username }}</h6>
                            <small class="ms-5 text-muted">{{ reply.date }}</small>
                          </div>
                          {{ reply.response }}
                        </li>
                      </ul>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Content -->

        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme text-center">
          Created by Anas Baddy for LearnC
        </footer>
        <!--/ Footer -->

        <!-- Content area backdrop -->
        <div class="content-backdrop fade"></div>
      </div>
      <!--/ Content wrapper -->

    </div>
    <!--/ Layout page -->

  </div>
  <!--/ Layout container -->

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>

  <!--/ Layout wrapper -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

  <!-- Main JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <!-- Page JS -->
  <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script>
    $(document).ready(function () {
      url = window.location.href.toString();
      url = url.split("").reverse("").join("");
      id = "#s";
      for (let i = 0; i < url.length; i++) {
        if (url[i] == '/') {
          break;
        }
        id += url[i];
      }
      // console.log(id);
      $("" + id).addClass("active");
    });
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
</body>

</html>